html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color:tan;
}

#top {
  /*float: left;
  text-align: center;*/
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 500px;
  border: 2px;
}

div {
  border-width: 5px;
    border-style: solid;
    border-color:black;
  background-color: #ffff80;
  padding: 10px;
}

#top h1 {
  font-size: 2em;
}

#content {
  position:relative;
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
  border-top: 5px;
}

.noteList {
    display: inline-block;
    width: auto;
    margin: 20px;
}

#viewNote {
  float: right;
  margin-top: 100px;
  font-size: 2em;
  margin-right: 500px;
  
  /*text-align: center;*/
}

#noteForm {
    padding: 50px;
    position: relative;
}
#returnForm {
    visibility: hidden;
}

#titleField {
    position: absolute;
    width: 173px;;
    margin-bottom: 20px;
    
}

#noteField {
    width: inherit;
    margin-top: 20px;
}